*,body,a,input,li,ul,div,p,h1,textarea,html{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: "Yahei";
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

.clearfix{

}
.clearfix::before{

}
.clearfix::after{
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}
.backgorund{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background: #fff url("/images/background.png") center 0;
}

/*登录盒子*/
.box {
    width: 580px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -290px;
}
.box h1{
    text-align: center;
    font-size:35px;
    color: #fff;
    padding: 0 0 36px;
}

.box #form{
    width: 100%;
    height: 360px;
    background:#ffffff;
    padding: 45px 50px;
    box-sizing: border-box;
    border: 1px solid #d5c6c6
;
}
.box #form input{
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 15px;
    padding: 20px 24px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #d5c6c6;
    color:#d9d9d9;
}
.box #form #login{
    background: #30a9ab;
    color: #fff;
    font-size:18px;
    line-height: 0px;
    margin: 36px 0 0 0;
}
.box #form a {
    color: #bb2d2d;
    text-align: right;
    display: block;
    margin: 10px 0 0 0;
}

/*注册盒子*/
.box #form #register {
    background: #30a9ab;
    color: #fff;
    font-size: 18px;
    line-height: 0px;
    margin: 10px 0 0 0;
}
.box #form {
    padding: 30px 50px;
}

/*跳转*/
.jump #title{
    font-size:40px;
    margin: 40px 0 40px;
}
.jump p,.box div  {
    color:#fff;
    font-size: 30px;
    margin: 40px 0 40px;
}
.jump p span {
    color: #fff;
    font-size: 30px;
}
.jump a{
    color: #f71010;
    text-decoration: underline;
    font-size: 30px;
}

/* 登录页面 */
.container{
    width:1200px;
    height: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -300px;
    margin-left:-600px;
}
.container .leftnav{
    width: 270px;
    height: 100%;
    background:#0b2a44;
    color:#fff;
    float: left;
}
.container .leftnav .title{
    color: #fff;
    background: #4dabee;
    width:100%;
    height: 55px;
    padding: 16px 35px;
}
.container .leftnav .userinfo{
    color:#fff;
    width: 100%;
    height: 180px;
    padding: 38px 35px;
    box-sizing: border-box;
    border-bottom: 1px #f1eaea solid;
}
.container .leftnav .userinfo .sculpture{
    color:#fff;
    width: 80px;
    height: 80px;
    background: #1faeb5;
    border-radius: 40px;
    float: left;
    margin: 0 20px 0 0;
    background: #fff url(/images/sculpture.jpg) center 0;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-login.png',sizingMethod='scale');
}
.container .leftnav .userinfo .username{
    color:#fff;
    width: 90px;
    float: left;
}

.container .leftnav ul{
    color: #fff;
    border-top: 1px #fff;
}
.container .leftnav ul li{
    color: #fff;
    padding: 0 35px;
    height: 58px;
    line-height: 58px;
    box-sizing: border-box;
}
.container .leftnav ul li:hover{
    background: #16476d;
    border-left: 8px#427bab solid;
    box-sizing: border-box;
    padding: 0 27px;
}
.container .leftnav a {
    color: #fff;

}
.container .leftnav a:hover{
    color: #08e8a5;
}


/*右边的主要内容*/
.container .contentbox{
    width: 930px;
    height: 600px;
    float: left;
    background: #f9f9f9;
    overflow: hidden;

}
.container  .contentbox .logout{
    height: 55px;
    background: #fff;
    line-height: 55px;
    padding: 0 30px;
    text-align: right;
    color: #649bc4;
}
.container  .content{
    width: 100%;
    padding: 10px 30px;
    overflow: scroll;
    height: 545px;
}
.container  .contentbox .content-header{

}


.container  .contentbox .content-main{
    height: 1000px;
}
.container  .contentbox .content-main textarea {
    width: 100%;
    min-height: 100px;
}

#submitans {
    float: right;
    display: block;
    width: 100px;
    height: 40px;
    background: #18e441;
    color:#fff;
    margin:10px 0 0 0;
}

/*上传页面*/
.container  .contentbox .content-main input.input-submit {
    background: #45c8f1;
    color: #fff;
    width: 76px;
    height: 30px;
    border-radius: 6px;
    margin: 20px 0 0 0;
}
.container .contentbox .content-main form li {
    height: 40px;
    line-height: 40px;
}
/*下载页面*/
.container  .contentbox .content-main li.download-item {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px #ded5d5 solid;
}
.container  .contentbox .content-main span.download-link {
    float: right;
}
.container  .contentbox .content-main span.download-link a{
    color: #11d675;
}
.container  .contentbox .content-main span.download-link a:hover{
    color:#f71010;
    text-decoration: underline;
}
